# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.idea
cmake-build-debug
libs
output.jpg
images
test_videos/processed
test_videos/cars.mp4
test_videos/cats.mp4
test_videos/chicago.mp4
test_videos/jellyfish.mp4
test_videos/fish.mp4
test_videos/sailboats.mp4